* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0ch;
    border: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #06283D;
}

.card {
    height: 500px;
    width: 300px;
    /* background-color: tomato; */
    border-radius: 30px;
    transition: .5s;
    transition-delay: .4s;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.card:hover {
    width: 600px;
    transition-delay: 0s;

}

.circle {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: silver;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.card .circle::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    clip-path: circle(60px at center);
    transition: .5s;
}

.card:hover .circle::before {
    clip-path: circle(400px at center);
}

.logo {
    position: relative;
    transition: .5s;
    transition-delay: .5s;
}

.card:hover .logo {
    transform: scale(0);
    transition-delay: 0;
}

.card .content {
    position: absolute;
    width: 50%;
    /* top: -100%; */
    left: 20%;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    padding: 2rem 3rem;
    transition-delay: .5s;
    transition: .3s;

}

.content a {
    position: relative;
    top: 1.5rem;
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 0.6rem .9rem;
    transition: .6s;
    border-radius: 2rem;
}
.content a:hover {
    background-color: white;
    color: blue;

}

.card:hover .content {
    visibility: visible;
    transition-delay: .3s;
    opacity: 1;
    left: 0;
}

.card .iphone-image {
    position: absolute;
    height: 450px;
    vertical-align: middle;
    display: block;
    border: 1px solid black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -5%) scale(0);
    transition: .3s;
    transition-delay: 0s;
}

.card:hover .iphone-image {
    left: 70%;
    transform: translate(-50%, -50%) scale(1);
    transition-delay: 0.3s;

}